.todo {
    height: 70vh;
    width: 50vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;  
    border: 3px solid black;
    border-radius: 25px;
    overflow: auto;
    background-color: white;
}

#todo-list {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
}

#todo-list li {
    margin: 6px 0px;
    font-size: 20px;
}

#todo-form input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 24px;
    margin: 30px 0px;
    text-align: center;
}